* {
    font-family: roboto;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button {
    background-color: #3882F6;
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7Eb;
}

.hero-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.header {
    background-color: #1f2937;
}

.header > div {
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 100px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    min-width: 400px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
}

.hero-container {
    width: 500px;
}

.header-bottom img {
    width: 400px;
    height: 100%
}

.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-header {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    margin-top: 50px;
}

.information-images {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.information-images div {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
}

.information-images div img {
    width: 200px;
    height: 100%;
}