* {
    font-family: roboto;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.header {
    background-color: #1f2937;
}

.header > div {
    margin-right: 300px;
    margin-left: 300px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #E5E7Eb;
}

.header-top ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    min-width: 400px;
}
